<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-specification-tab" data-toggle="tab" href="#nav-specification" role="tab" aria-controls="nav-specification" aria-selected="true">Specification</a>
        <a class="nav-item nav-link" id="nav-description-tab" data-toggle="tab" href="#nav-description" role="tab" aria-controls="nav-description" aria-selected="false">Description</a>
    </div>
</nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-specification" role="tabpanel" aria-labelledby="nav-specification-tab" style="padding: 20px;">
            <table>
                <tr>
                    <td>dimensions</td>
                    <td>Available in all Custom Sizes</td>
                </tr>
                <tr>
                    <td>Printing</td>
                    <td>CMYK, PMS, Without printing</td>
                </tr>
                <tr>
                    <td>Paper Stock</td>
                    <td>10pt to 24pt (80lb to 200lb)(250gsm to 600gsm) Eco-Friendly Kraft, Corrugated and Flute Stock</td>
                </tr>
                <tr>
                    <td>Quantities</td>
                    <td>100 - 500,000</td>
                </tr>
                <tr>
                    <td>Default Process</td>
                    <td>Die Cutting, Gluing, Scoring, perforating</td>
                </tr>
                <tr>
                    <td>Options</td>
                    <td>Window Cut Out, Gold/Silver Foiling, Embossing, Raised Ink</td>
                </tr>
                <tr>
                    <td>Proof</td>
                    <td>Digital Proof, 3D Mock-up</td>
                </tr>
                <tr>
                    <td>Turn Around Time</td>
                    <td>6-8 Business Days</td>
                </tr>
                <tr>
                    <td>Shipping</td>
                    <td>Shipped Flat : Free Shipping to UK, USA, Canada & Australia </td>
                </tr>
                <tr>
                    <td>Inquiries</td>
                    <td>For further inquiries and Quotes contact us at USA: 5712873419 email to sales@printpoint.io</td>
                </tr>
            </table>
        </div>
        <div class="tab-pane fade" id="nav-description" role="tabpanel" aria-labelledby="nav-description-tab" style="padding: 20px;">
            <h3> Prioritize your retail Packaging Boxes to Get The Most Out from Business </h3>
            <p>Are you running your own corporation or business? Do you want to maximize your profits? Then one of the first things that boost the first Impression of Your product is the custom retail packaging boxes. Bespoke retail boxes don’t only offer a unique way to handle products from one place to another, but also a unique method of marketing.</p>
            
            <h3>Visibility:</h3>
            <p>We all know that marketplace is surrounded with the tight competition, so the main purpose of retail packaging should not only hold and protect the stuff but it can also be used for product packaging to make it appealing on the shelf.</p>
            <p>The visibility design is normally made to capture customers' attention while shopping or taking quick look on the catalog or website. This is important for those customers who are not acquainted with the product and in those situations when the product put in on the shelf with its contest to competitors. This activity help the potential buyers to makes direct price comparisons and to amplify your profit margins.</p>
            
            <h3>Added Value:</h3>
            <p>Do you want to add perceived value to your products without necessarily adding your costs? Retail display boxes design adds value to the product that you are selling. For instance, you can take the benefits from printing and packaging that make the product convenient to use and make it look more attractive for customers.</p>
            
            <h3>Gift Protection:</h3>
            <p>We all know that the gift retail Packaging is being used to protect them from damage during shipping and to avoid the spoilage. You can wrap the gifts in gift boxes with lids as they are quite cheap, inexpensive and best for the safety of gift item. Small storage boxes are also for excellent, cheap and versatile presentation of jewelry.</p>
            
            <h3>Added Cost:</h3>
            <p>Cost influences a significant impact on the product selling price. It is normally involved in developing packaging, graphics, structural design, shipping, production and advertising. You should take the wise choices and decisions on how to pack your retail product for lessening costs and possibly lead to better profits. If you want to approach the potential suppliers, then you can also take advice on getting your product printed in the best quality.</p>
            
            <h3>Endurance:</h3>
            <p>Product packaging design is not a short term decision, but it normally gets long. So, as manufacturers you have to make sure that you will come up with an unending retail packaging design. Timeless design means that its quality doesn't get affected with the passage of time so it still appealing for the consumers regardless of months and years. Modifying the product's boxes packaging too often is not a good idea because it leaves a negative effects on your brand since consumers finding your product on the basis of packaging and the chances are there that they get confused if you frequently change the design.</p>
            
            <h3>Environmental Issues:</h3>
            <p>When you are making packaging decisions especially for retail boxes, then you should consider the issue of environmental impact. If your product relates to Non-biodegrade then the chances are there that it catches the attention of customers but on the other hand, it could also face environmental issues.  However, packaging suppliers are well aware of the many social issues that come into play by not using biodegradable retail packaging or Eco friendly retail packaging.</p>
            
            <h3>Packaging supplies:</h3>
            <p>Do you want to make your product more salable and attractive? Then you should give a try to the retail packaging supplies for the reason that they are now used for baked products and goods. Try to make use of all packaging supplies to ensure the safety of your goods. However, wholesale retail packaging suppliers are mindful of many social issues that come into the path of packaging.</p>
            
            <p>Looking for online Packaging store? With many years of experience, DnPackaging deliver high quality packaging boxes according to your needs and requirements. Whether from printing finishing to Packaging Solutions, we work hard to gratify you.</p>
        </div>
    </div>


